<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
	</configSections>
	<modules>
		<module assemblyFile="Modules\AY.DNF.GMTool.BubbleTimer.dll" moduleType="AY.DNF.GMTool.BubbleTimer.BubbleTimerModule, AY.DNF.GMTool.BubbleTimer" moduleName="BubbleTimerModule" startupLoaded="false"/>
		<module assemblyFile="Modules\AY.DNF.GMTool.SuperTool.dll" moduleType="AY.DNF.GMTool.SuperTool.SuperToolModule, AY.DNF.GMTool.SuperTool" moduleName="SuperToolModule" startupLoaded="false"/>
		<module assemblyFile="Modules\AY.DNF.GMTool.Postal.dll" moduleType="AY.DNF.GMTool.Postal.PostalModule, AY.DNF.GMTool.Postal" moduleName="PostalModule" startupLoaded="false"/>
		<module assemblyFile="Modules\AY.DNF.GMTool.Pvf.dll" moduleType="AY.DNF.GMTool.Pvf.PvfModule, AY.DNF.GMTool.Pvf" moduleName="PvfModule" startupLoaded="false"/>
		<module assemblyFile="Modules\AY.DNF.GMTool.ActivityEvent.dll" moduleType="AY.DNF.GMTool.ActivityEvent.ActivityEventModule,AY.DNF.GMTool.ActivityEvent" moduleName="ActivityEventModule" startupLoaded="false"/>		
	</modules>
</configuration>