<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
	</configSections>
	<modules>
		<module assemblyFile="Modules\AY.DNF.GMTool.BubbleTimer.dll" moduleType="AY.DNF.GMTool.BubbleTimer.BubbleTimerModule, AY.DNF.GMTool.BubbleTimer" moduleName="BubbleTimerModule" startupLoaded="false"/>
		<module assemblyFile="Modules\AY.DNF.GMTool.SuperTool.dll" moduleType="AY.DNF.GMTool.SuperTool.SuperToolModule, AY.DNF.GMTool.SuperTool" moduleName="SuperToolModule" startupLoaded="false"/>
	</modules>
</configuration>